<form method="post" action="{{ path('app_workout_delete', {'id': workout.id}) }}" onsubmit="return confirm('Supprimer cette série ?');" style="display:inline-block;">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ workout.id) }}">
    <button class="btn btn-sm btn-link text-danger"><i class="bi bi-trash"></i></button>
</form>